.logo {
    width: 200px;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

a {
    color: rgb(0,0,0);
}

a:hover {
    background-color: rgb(200,200,200);
}
nav {
    margin-left: 3rem;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 16px;
}

#titleimage {
    width: 900px;
    height: 550px;
    margin-left: 0;
}

footer {
    border-top: 1px solid;
    padding-top: 16px;
    margin-top: 16px;
    margin-left: 3rem;
}

img {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
}

#content {
    margin-left: 3rem;
}