.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;    
    text-align: center;
}

.logo img {
    width: 15rem;
}

a {
    color: rgb(0,0,0);
}

a:hover {
    background-color: rgb(200,200,200);
}

nav {
    text-align: center;
    margin-bottom: 1rem;
}

nav a {
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    margin-top: 16px;
}

#titleimage {
    width: 900px;
    height: 550px;
    margin-left: 0;
}

footer {
    text-align: center;
    border-top: 1px solid;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content p img {
    display: block;
    max-width: 32rem;
}

body {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}

.highlight {
    display:inline-block;
}

.highlight pre{
    padding: 1rem;
}

.centerize {
    text-align: center;
}
#content ul {
    text-align: center;
    padding: 0;

}
#content ul li {
    list-style-type: none;
}