
.logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.logo img {
    width: 15rem;
}

a {
    color: #fff;
}


nav {
    text-align: center;
    margin-bottom: 1rem;
}

nav a {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    text-align: center;
    border-top: 1px solid;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content p img {
    display: block;
    max-width: 32rem;
}

body {
    max-width: 32rem;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(11, 14, 20);
    color: #fff;
}

.highlight pre {
    padding: 0.5rem;
}

.centerize {
    text-align: center;
}

#content ul {
    padding: 0;

}

#content ul li {
    list-style-type: none;
}

code {
    text-wrap: wrap;
}