<a href="/"><img class="logo" src="/img/logo.svg" /></a>
<div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
        <ul>
            {{ range .Site.Menus.main }}
            <li>
                <a class="nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>